table{
    border-collapse:collapse !important;
    border-style:solid;
    border-width: 1px;
    border-color:rgb(160, 149, 149);
    border-radius:10px;
    text-align:center; 
}

table th,
table td{
    border-style: solid;
    border-width: 1px;
    padding: 0.3rem;
}

th::selection{
    list-style: none;
}

td::selection{
    background-color: rgba(235, 104, 196, 0.822); 
    color: black;
}

tr:hover{
    background:rgb(207, 207, 207);
}

input[type="button"],
input[type="checkbox"]{
    cursor:pointer;    
}

textarea{
    border-radius: 10px;
    border-color: rgb(8, 63, 243);
    padding: 0.4rem;
}
